.components-radio-button-control {
	.options {
		display: flex;

		.components-button {
			padding: 6px 12px;
			justify-content: center;

			.components-icon,
			svg {
				margin-right: 10px;
				fill: transparent;
				stroke: currentColor;
			}
		}
	}

	&.vertical {
		.options {
			flex-direction: column;
		}
	}

	&.equal-width {
		.options {
			.components-button {
				flex: 1 0 0%;
			}
		}
	}
}
