.list-table-filters__popover {
	.components-popover__content {
		padding: 8px;
		width: max-content;


		.components-button {
			width: 100%;
			justify-content: left;

			&.has-icon svg {
				margin-right: 5px;
			}
		}
	}
}
