# Composer Dependencies
/classes/Dependencies/

# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
*.code-workspace
.vscode/*
!.vscode/*.code-workspace
*.sublime-project
*.sublime-workspace
.sublimelinterrc
.wp-env.override.json

# Tests & cache
.phpunit.result.cache

# Built code
**/build/
**/build/**/*
**/build-types/
**/build-types/**/*
node_modules
release
dist

# Coverage
/coverage

# Logs
/logs

# Composer
/vendor/
/vendor-prefixed/

/yarn-error.log

.php_cs.cache

*.tsbuildinfo
lerna-debug.log
npm-debug.log
packages/*/lib
.idea
strauss.phar
*.zip
.DS_Store