# Composer Dependencies
/classes/Dependencies/

# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.code-workspace
*.sublime-project
*.sublime-workspace
.sublimelinterrc
.wp-env.override.json

# Built code
/build
/node_modules
/release
/dist

# Logs
/logs

# Composer
/vendor/

/yarn-error.log

.php_cs.cache
