<?xml version="1.0"?>
<ruleset name="WordPress Coding Standards for Plugin">
	<description>Sniffs for WordPress plugins</description>

	<file>.</file>
	<!-- <exclude-pattern type="relative">classes/Installers/*</exclude-pattern> -->
	<exclude-pattern type="relative">build/*</exclude-pattern>
	<exclude-pattern type="relative">dist/*</exclude-pattern>
	<exclude-pattern type="relative">vendor/*</exclude-pattern>
	<exclude-pattern type="relative">vendor-prefixed/*</exclude-pattern>

	<arg name="extensions" value="php" />
	<!-- Show progress and sniff codes in all reports -->
	<arg value="ps" />

	<!--
	https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="5.6-" />
	<!--
	https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="5.6" />

	<config name="text_domain" value="content-control, default" />

	<!-- Force short syntax arrays. -->
	<rule ref="CodeAtlantic" />

	<!-- Disable the following rules only for the tests directory
	WordPress.NamingConventions.ValidVariableName.NotSnakeCase
	Squiz.Commenting.FunctionComment.Missing
	-->
	<rule ref="PHPCompatibility">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="WordPress.NamingConventions.ValidVariableName">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<rule ref="Squiz.Commenting.FunctionComment">
		<exclude-pattern>bin/*</exclude-pattern>
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

</ruleset>