parameters:
    level: 6
    paths:
        - classes/
        - inc/
        - content-control.php
        - uninstall.php
    scanDirectories:
        - bin/
        - classes/
        - inc/
    scanFiles:
        - content-control.php
        - uninstall.php
    bootstrapFiles:
        - bin/phpstan-bootstrap.php
    stubFiles:
        - bin/stubs/elementor.php
        - bin/stubs/query-monitor.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    excludePaths:
        - tests/
    dynamicConstantNames:
        - 'IS_WPCOM'
        - 'WP_CLI'
        - 'CONTENT_CONTROL_LICENSE_KEY'
        - 'CONTENT_CONTROL_DISABLE_LOGGING'
        - 'CONTENT_CONTROL_UPGRADE_DEBUG_LOGGING'
    ignoreErrors:
        - '#Method ContentControl\\Controllers\\Admin\\WidgetEditor::fields\(\) has parameter \$widget with generic class WP_Widget but does not specify its types: T#'