parameters:
    level: 5
    paths:
        - bin/
        - classes/
        - dist/
        - inc/
        - content-control.php
        - uninstall.php
    bootstrapFiles:
        - bin/phpstan-bootstrap.php
    dynamicConstantNames:
        - 'IS_WPCOM'
        - 'CONTENT_CONTROL_DISABLE_LOGGING'
        - 'CONTENT_CONTROL_LICENSE_KEY'
