<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="./tests/bootstrap.php"
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
>
	<coverage>
		<include>
			<directory suffix=".php">./classes/</directory>
			<directory suffix=".php">./inc/</directory>
			<file>./content-control.php</file>
			<file>./uninstall.php</file>
		</include>
	</coverage>

	<testsuites>
		<testsuite name="default">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<directory suffix="Test.php">./tests/</directory>
			<directory suffix="Tests.php">./tests/</directory>
			<exclude>./tests/test-sample.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>