@mixin elevation($value) {
	box-shadow: 0 #{$value}px calc(#{$value}px * 2) 0
		rgba(0, 0, 0, calc($value / 20));
}

@mixin flexRow( $gap: $spacing, $align-items: center ) {
	display: flex;
	flex-direction: row;
	align-items: $align-items;
	gap: $gap;
}

@mixin flexColumn( $gap: $spacing, $align-items: left ) {
	display: flex;
	flex-direction: column;
	align-items: $align-items;
	gap: $gap;
}
