@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Rule Wrapper
.cc-rule-engine-item-wrapper--rule {
	> .cc-rule-engine-rule {
		position: relative;

		@include flexRow();
		align-items: first baseline;
		margin-top: $spacing;

		// Ensure this row fills all space.
		flex-grow: 1;

		// Spread children to full width.
		justify-content: space-between;

		.if-text-column {
			display: block;
			flex: 1 1 auto;
			font-weight: 900;
			text-transform: uppercase;
		}

		.add-rule-column {
			display: none;
		}

		.controls-column {
			flex: 3 1 100%;

			.editable-area {
				@include flexColumn();
				align-items: "baseline";
				background-color: #fff;
				border: 1px solid #ddd;
				padding: $spacing / 2 $spacing;
				width: fit-content;
				box-sizing: border-box;

				.rule-label {
					// Along with padding & border above, this gives us 36px of vertical space, matching the action buttons.
					line-height: 22px;
					width: fit-content;
					white-space: nowrap;
					font-weight: 500;
				}

				.rule-fields {
					flex-grow: auto;
					margin-bottom: $spacing / 2;
				}

				.components-base-control__field {
					margin-bottom: 0;
				}

				.components-button {
					padding: 0;
					height: 30px;
				}
			}

			.rule-fields {
				@include flexRow(12px);
				align-items: first baseline;
			}
		}

		.actions-column {
			flex: 1 1 auto;
			margin-right: auto;
			align-self: flex-start;
		}
	}

	// Only apply to consecutive rules.
	+ .cc-rule-engine-item-wrapper--rule {
		.if-text-column {
			display: none;
		}
	}

	// Only apply these to ungrouped (root level) rules.
	.is-root > & {
		.if-text-column {
			// Override the prior greedy rule.
			display: block;
		}
	}
}
