@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

// Rule Wrapper
.cc-rule-engine-item-wrapper--rule {
	> .cc-rule-engine-rule {
		@include flexRow();
		margin-top: $spacing;

		// Ensure this row fills all space.
		flex-grow: 1;

		// Spread children to full width.
		justify-content: space-between;

		.if-text-column {
			display: block;
		}

		.controls-column {
			background-color: #fff;
			border: 1px solid #ddd;
			padding: calc($spacing / 2);

			.editable-area {
				@include flexRow(4px);

				.components-button {
					padding: 0;
				}
			}

			.rule-fields {
				@include flexRow(4px);
			}
		}
	}

	// Only apply to consecutive rules.
	+ .cc-rule-engine-item-wrapper--rule {
		.if-text-column {
			display: none;
		}
	}

	// Only apply these to ungrouped (root level) rules.
	.is-root > & {
		.if-text-column {
			// Override the prior greedy rule.
			display: block;
		}
	}
}
