/**
 * <div class="react-tags">
 *   <div class="react-tags__selected">
 *     <button class="react-tags__selected-tag">
 *       <span class="react-tags__selected-tag-name" />
 *     </button>
 *   </div>
 *   <div class="react-tags__search">
 *     <div class="react-tags__search-wrapper">
 *       <input class="react-tags__search-input" />
 *       <div />
 *     </div>
 *     <div class="react-tags__suggestions">
 *       <ul>
 *         <li class="is-active">
 *           <mark />
 *         </li>
 *         <li class="is-disabled">
 *           <mark />
 *         </li>
 *       </ul>
 *     </div>
 *   </div>
 */
.react-tags {
	// position: relative;
	// padding: 6px 0 0 6px;
	// border: 1px solid #d1d1d1;
	// border-radius: 1px;
	// font-size: 1em;
	// line-height: 1.2;
	// cursor: text;

	&.is-focused {
		// border-color: red;
	}
}

.react-tags .react-tags__selected {
	display: inline;
}

.react-tags__selected-tag {
	margin: 0 5px 0 0;
	border: none;
	padding: 6px 12px;
	background: none;;

	&:after {
		content: "\2715";
		color: #aaa;
		margin-left: 8px;
		// display:none;
	}
	&:hover {
		border-color: #b1b1b1;
	}
	&:focus {
		border-color: #b1b1b1;
	}
}

.react-tags__search {
	display: inline-block;
	padding: 7px 2px;
	margin-bottom: 0;
	max-width: 100%;
}

.react-tags__search-input {
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: inherit;
	line-height: inherit;
	&::-ms-clear {
		display: none;
	}
}

.react-tags__suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	ul {
		margin: 4px -1px;
		padding: 0;
		list-style: none;
		background: white;
		border: 1px solid #d1d1d1;
		border-radius: 2px;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	}
	li {
		border-bottom: 1px solid #ddd;
		padding: 6px 8px;
		mark {
			text-decoration: underline;
			background: none;
			font-weight: 600;
		}
		&:hover {
			cursor: pointer;
			background: #eee;
		}
	}
	li.is-active {
		background: #b7cfe0;
	}
	li.is-disabled {
		opacity: 0.5;
		cursor: auto;
	}
}

@media screen and (min-width: 30em) {
	.react-tags__search {
		position: relative;
	}
	.react-tags__suggestions {
		width: 240px;
	}
}
