@import "../../styles/variables.scss";

.cc-query-builder-add-rule-popover {
    margin-left: 10px;

	.components-popover__content {
		width: auto;
		padding: .5em;
	}

    &__heading {
        margin: 0;
    }

    .components-button {
        max-height: 30px;
    }

    .add-button {
        svg {
            fill: green;
        }
    }

    .components-base-control__field {
        margin: 0;
    }
}
