@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.cc-rule-engine-item-wrapper--group {
	@include flexColumn();
	padding: $spacing 0;

	/**
	 * Conditional modifications for first element in list
	 */
	&:first-child {
		padding-top: 0;
		> .cc-rule-engine-logical-operator {
			display: none;
		}
	}

	.cc-rule-engine-group {
		padding: $spacing;
		margin-top: $spacing;
		position: relative;

		background-color: rgba(#1a191b, 0.02);
		border: 1px solid #ddd;
		border-radius: 4px;

		.cc-rule-engine-item-list {
			min-height: calc($spacing / 2);

			.cc-rule-engine-item-wrapper--rule {
				background-color: transparent;
				border: none;
				padding: 0;
				margin: 0 0 $spacing;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		> .cc-rule-engine-item-list.has-items
			> .cc-rule-engine-item-wrapper--rule
			> .cc-rule-engine-rule {
			flex-grow: initial;
			justify-content: left;
		}
	}
}

.cc-rule-engine-group {
	.is-chosen & .cc-rule-engine-item-list {
		animation-name: none;
	}

	> .cc-condition-editor-item-actions {
		position: absolute;
		right: -1px;
		top: -1px;

		.components-button.has-icon {
			&:first-child {
				border-top-left-radius: 0;
			}

			&:last-child {
				border-bottom-right-radius: 0;
			}
		}
	}
}

.cc-rule-engine-group-label {
	margin: 0 0 $spacing;

	&__text {
		h3 {
			line-height: 30px;
			font-size: 14px;
			margin: 0;
		}

		.components-button.is-small.has-icon {
			width: auto;
			min-width: auto;
			height: auto;
			padding: 0;
			margin: 7px 0 0;
		}
	}

	&__editor {
		.components-button.is-small.has-icon {
			min-width: auto;
			padding: 0;
		}
	}
}
