@media (max-width: 480px) {
	.cc-hide-on-mobile {
		display: none !important;
	}
}
@media (min-width: 481px) and (max-width: 991px) {
	.cc-hide-on-tablet {
		display: none !important;
	}
}

@media (min-width: 992px) {
	.cc-hide-on-desktop {
		display: none !important;
	}
}
