.editor-tabs {
	display: flex;
	gap: 10px;
	width: 100%;

	.components-tab-panel__tabs {
		width: fit-content;
		padding-right: 10px;
		text-align: left;
		flex-grow: 1;
	}

	.components-tab-panel__tab-content {
		flex-grow: 6;
	}
}

.restriction-list {
	padding: 10px 0;

	> * {
		margin-bottom: 10px;
	}
}

.who-options {
	display: flex;
	gap: 20px;

	svg {
		margin-right: 1em;
		fill: transparent;
		stroke: currentColor;
	}
}
}

.modal-actions {
    display: flex;
    justify-content: right;
    gap: 10px;

    > * {

    }
}