.editor-tabs {
	display: flex;
	gap: 10px;
	width: 100%;

	.components-tab-panel__tabs {
		width: fit-content;
		padding-right: 10px;
		text-align: left;
		flex-grow: 1;
	}

	.components-tab-panel__tab-content {
		flex-grow: 6;
	}
}

.restriction-list {
	padding: 10px 0;

	> * {
		margin-bottom: 10px;
	}
}

.who-options {
	display: flex;
	gap: 20px;

	svg {
		margin-right: 1em;
		fill: transparent;
		stroke: currentColor;
	}
}

.restriction-editor {
	.components-modal__content {
		margin-bottom: 56px;
	}

	.modal-actions {
		box-sizing: border-box;
		display: flex;
		justify-content: right;
		gap: 10px;
		position: absolute;
		padding: 0 32px;
		height: 56px;
		align-items: center;
		bottom: 0;
		left: 0;
		right: 0;
		border-top: 1px solid #c3c4c7;

		> :first-child {
			position: absolute;
			left: 32px;

			svg {
				margin-right: 3px;
				fill: #fff;
				stroke: green;
			}
		}

	}
}
