@import "../../styles/variables";

.cc-query-builder-rule {
	transition: border 150ms;
	border: 1px solid transparent;

	:not(.is-dragging) &:hover {
		border: 1px solid rgba(0, 0, 0, 0.075);
	}

	.components-flex {
		// vertical-align: middle;
		align-items: center;
		justify-content: left;
	}

	.components-flex-item {
		&.not-operand-column {
		}

		&.controls-column {
			flex-grow: 1;
		}

		&.actions-column {
		}
	}

	.components-base-control__field {
		margin: 0;
	}
}