name: Plugin asset/readme update
on:
    push:
        branches:
            - master

env:
    IGNORE_OTHER_FILES: true

jobs:
    master:
        name: Push to master
        runs-on: ubuntu-latest
        steps:
            - name: Checkout master
              uses: actions/checkout@v4

            - name: WordPress.org plugin asset/readme update
              uses: 10up/action-wordpress-plugin-asset-update@stable
              env:
                  SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
                  SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
                  SLUG: ${{ secrets.SLUG }}
