name: Draft Release

on:
    push:
        tags:
            - 'v*'

env:
    BUILD_DIR: build
    SLUG: ${{ vars.SLUG }}

jobs:
    draft:
        runs-on: ubuntu-latest

        # Define outputs for the job
        outputs:
            release_url: ${{ steps.create_release.outputs.html_url }}

        steps:
            # Checkout code
            - name: Checkout code
              uses: actions/checkout@v4

            # Cache node modules
            - name: Cache node modules
              uses: ./.github/actions/restore-npm-cache
              with:
                  cache-prefix: npm-deps-v1

            # Setup Node 16
            - uses: actions/setup-node@v3
              with:
                  node-version: 16

            # Install dependencies & build release assets
            - name: Install dependencies
              run: |
                  npm i
                  composer install --no-dev --classmap-authoritative

            # Build release assets
            - name: Build release assets
              run: |
                  npm run build

            # Copy build directory
            - name: Prepare build directory
              run: |
                  npm run copy-build

            # zip the build folder into slug.zip
            - name: Prepare zip file
              run: |
                  mv $BUILD_DIR ${{ env.SLUG }}
                  zip -r ${{ env.SLUG }}_${{ github.ref_name }}.zip ${{ env.SLUG }}

            # Create draft release
            - name: Create Draft Release
              id: create_release
              uses: actions/create-release@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  release_name: Release ${{ github.ref }}
                  draft: true

            # Display link to draft release visually
            - name: Display Release Link
              run: |
                  echo "Draft release URL: ${{ steps.create_release.outputs.html_url }}"

            # Upload release asset
            - name: Upload Release Asset
              id: upload-release-asset
              uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ${{ env.SLUG }}_${{ github.ref_name }}.zip
                  asset_name: ${{ env.SLUG }}_${{ github.ref_name }}.zip
                  asset_content_type: application/zip

    # Additional job to display the link prominently at the end
    display:
        needs: draft
        runs-on: ubuntu-latest
        steps:
            - name: Print Release URL
              run: |
                  echo "The draft release can be found at: ${{ needs.draft.outputs.release_url }}"
